:root {
  --color1: White;
  /* header-back, nav-color, hol használom */
  --color2: Black;
  /*  */
  --color3: #728ea6;
  /*  */
  --color4: #2742ba;
  /*  */
  --color5: #8016a7;
  /*  */
  --color6: DarkGray;
  /*  */
  --color7: rgb(164, 190, 235);
  /*  */
  --color8: rgb(255, 137, 245);
  /*  */
  --color9: rgb(217, 222, 241);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color3);
  padding: 8px;
  width: 100%;
  height: 10%;
}

/*logo*/
#logo {
  display: flex;
  padding: 5px;
  margin-left: 5px;
  max-width: 150px;
  max-height: 150px;
}

/*keresés*/
.search {
  display: flex;
  background-color: var(--color3);
  width: 450px;
}

form.search input[type="text"] {
  float: left;
  font-size: 17px;
  padding: 8px;
  border: 2px var(--color2) solid;
  border-radius: 25px 0 0 25px;
  border-right: none;
  background: var(--color1);
  width: 85%;
}
form.search input[type="text"]:focus {
  outline: none;
}
/* Style the submit button */
form.search button {
  float: left;
  font-size: 17px;
  padding: 8px;
  border: 2px var(--color2) solid;
  border-radius: 0 25px 25px 0;
  border-left: none;
  background: var(--color1);
  width: 15%;
  cursor: pointer;
}

form.search button:hover {
  background: var(--color6);
}

/*belépés*/
.login {
  display: flex;
  background-color: var(--color3);
}
.login button {
  padding: 0;
}
.login img {
  max-width: 48px;
  min-width: 48px;
}

#username {
  cursor: pointer;
  padding: 20px 10px 20px 0;
  background-color: transparent;
  border: 0;
  font-size: 22px;
}

.logout {
  display: inline-block;
  background-color: var(--color3);
}

/*kosár*/
.cart, .cart-counter {
  display: inline-block;
  background-color: var(--color3);
  padding: 12px 0;
}

.cart-counter {
  padding-top: 12px;
}

.cart-counter span {
  margin-left: 5px;
  vertical-align: top;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

#header-icons {
  display: flex;
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 880px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .header-top {
    flex-direction: column;
  }
}

#error-div {
  width: 50%;
  text-align: center;
  margin: 15px 20px 5px 20px;
  box-shadow: 0 0 5px black;
}

#error-message, #error-close {
  display: inline-block;
}

#error-close {
  float: right;
}

#error-close input {
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: 0;
}